@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$accent: #ba1200;

body{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.header{
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
}

.loaded-day{
  font-weight: bold;
  color: $accent;
  cursor: pointer;
}

.front-page-header{
  font-size: calc(3vw + 1.5rem);
}

.front-page-icon{
  font-size: calc(4vw + 3rem);
}

.front-page-p{
  font-size: calc(1vw + 0.75rem);
  font-weight: 300;
}

.set{
  color: $accent;
  font-weight: bold;
  height: 40px;
  width: 40px;
  padding-top: 6px;
  border-radius: 100px;
  border: 2px solid $accent;
  cursor: pointer;
}

.set.disabled{
  pointer-events: none;
}

.set.complete{
  color: white;
  background-color: $accent;
}

.exercise-card{
  border-bottom: 1px solid #d3d3d3;
}

.exercise-card:last-of-type{
  border-bottom: none;
}

.navbar{
  background-color: $accent;
}

.logo{
  height: 60px;
}

.nav-button{
  background: transparent;
  border: 0;
  font-size: 1.2rem;
  height: 60px;
  border-radius: 0;
  border-right: 1px solid white;
  font-weight: 300;
  &:hover{
    background-color: white;
    color: $accent;
    border-right: 2px solid white;
  }
  &:active{
    outline: none;
  }
  &:focus{
    background-color: white;
    color: $accent;
    border-right: 2px solid white;
    outline: none;
  }
  &:last-of-type{
    border: 0;
  }
}

.hero{
  height: 500px;
  h1{
    color: white;
    font-size: calc(4vw + 4rem);
    line-height: 4rem;
    white-space: normal;
    }
}

.overlay{
  height: 500px;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-header .item.next{
  opacity: 0;
}

.carousel-header{
  transition: opacity 0.25s;
}

#hero1{
  background: url(./hero1.jpg);
  background-position: bottom center;
}

#hero2{
  background: url(./hero2.jpg);
  background-position: top center;
}

#hero3{
  background: url(./hero3.jpg);
  background-position: top center;
}

.content-1{
  background-color: $accent;
  color: white;
  clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 90%);
  height: 300px;
}

.content-2{
  background-color: black;
  color: white;
  margin-top: -150px;
  height: 300px;
}

.accent{
  border: 1px solid $accent;
  color: $accent;
  background-color: white;
  &:hover{
    background-color: $accent;
    color: white;
    border: 1px solid $accent;
    outline: none;
  }
}

.accent-bg{
  background-color: $accent;
  color: white;
  border: 1px solid $accent;
}
